/* .header {} */
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 200px;
  padding-top: 9px;
}



.button.button_service {
  margin: 0;
  padding: 10px 35px;

  font-size: 1rem;
  color: var(--footer-text);

  border: 2px solid var(--footer-text);
}
